<h1>The Grid Table with inline edit and save</h1>
<div class="container">
    <div class="row show-grid">
        <div class="col-md-4 text-center grid" ng-repeat="grid in grids">
            <div class="description"><a href="" ng-click="showdescModal = !showdescModal">{{grid.description}}</a></div>
            <div class="title"><a href="" ng-click="showtitleModal = !showtitleModal">{{grid.title}}</a></div>            
            <div class="descModal" ng-show="showdescModal">
                <form novalidate ng-submit="Descriptsubmit(grid.id, gridBox, grids)">
                <div class="row">                   
                    <div class="col-md-9"><textarea ng-model = "gridBox.description"></textarea></div>
                    <div class="col-md-3">
                        <div class="btn-group-vertical">
                            <button type="submit" class="btn btn-success"><span class="">+</span></button>
                            <button type="button" class="btn btn-danger" ng-click="showdescModal = !showdescModal"><span class="">X</span></button>
                        </div>    
                    </div>                      
                </div>
                </form>    
            </div>
            <div class="titleModal" ng-show="showtitleModal">
                <form novalidate ng-submit="Descriptsubmit(grid.id, gridBox, grids)">
                <div class="row">                    
                    <div class="col-md-9"><input type="text" ng-model = "gridBox.title"></div>
                    <div class="col-md-3">
                        <div class="btn-group-vertical">
                            <button type="submit" class="btn btn-success"><span class="">+</span></button>
                            <button type="button" class="btn btn-danger" ng-click="showtitleModal = !showtitleModal"><span class="">X</span></button>
                        </div>    
                    </div>
                </div>
                </form>    
            </div>                
        </div>
    </div>
</div>