<div class="jumbotron">
        <h2>Create Table Grid with inline edit & save</h2>
        
        <ol>
            <li>Create a tabular layout with 3 x 3 grid</li>
            <li>Add two links “Add Description” & “Add Title” to each of the grid</li>
            <li>On clicking “Add Description” link display a form with Textarea and two buttons to save and cancel edits</li>
            <li>When the Textarea has some text and if save button is clicked do the following:
                <ol>
                    <li>Hide the form with Textarea and two buttons</li>
                    <li>Display “Add Description” and replace link text with Textarea text.</li>
                </ol>
            </li>
            <li>On clicking “Add Title” link display a form with Input and two buttons to save and cancel edits.</li>
            <li>When the Input has some text and if save button is clicked do the following:
                <ol>
                    <li>Hide the form with Textarea and two buttons</li>
                    <li>Display “Add Description” and replace link text with Textarea text.</li>
                </ol>
            </li>
            <li>Display error message if the form is submitted with empty fields.</li>
            <li>Clicking on “Clear All” button will clear all the edits and replace links with its original text.</li>
        </ol>
        <p>
          <a role="button" ui-sref="gridtable" class="btn btn-lg btn-primary">View Grid table »</a>
        </p>
      </div>